<!DOCTYPE html>
<html>
<head>
    <title>
		ArfGAP1 Detector
    </title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" type="text/css" href="css/style.css" />-->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  
</head>


<body
style= "color: blue">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size:1vw">
		<a class="navbar-brand" href="#" style="font-size:1vw">ArfGAP</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav ml-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<!-- <li class="nav-item"> -->
			  <!-- <a class="nav-link" href="{{ url_for('upload') }}">About</a> -->
			<!-- </li> -->
		  </ul>

		</div>
	</nav>

	<!-- <div class="body" style="margin-top:100px;"> -->

		<!----------------------this part is for image upload----------------->
		
		<!--in the following line, values of 'action', 'method', 'enctype' are from
		app.py script. enctype=multipart/form-data is for file upload-->
		<form action = "/" method = "POST"  enctype=multipart/form-data>
			
			<div class="main" id="uploadheader" style="font-size:1vw">
			  	<p style="color:black" style="font-size:1vw" >Upload Nucleus Image</p>
				<input type="file" name = "file" style="font-size:.7vw">
		  	</div>
		  
			<br>

			<div class="main1" id="uploadheader1" style="font-size:1vw">
			  <p style="color:black" style="font-size:1vw">Upload Golgi Image</p>
			<input type="file" name = "gfile" style="font-size:.7vw">
			</div>



			<!---------------------end of image upload/ left Column--------------------->
	  
			<!------------------Image Submit Button/ Middle Column------------------------>
			<br>
			<div class="main2" id="uploadheader2">
			<input style="font-size:1.5vw"type="submit" value = "Predict" class="button">
			</div>
			<!------------------------End of Image Submit to model------------------>
			
			<!--Output Display/Middle Column-->
			<br>
			<div class="main3" id="uploadheader3">

				{% if image_loc %}
				<!-- <img class="mb-4" src="file.jpg" alt="" width="900" height="900"> HERE WE WILL UPLOAD THE OUTPUT PICTURE OF GOLGI -->
				<img class="mb-4" src="{{image_loc}}" alt='Nucleus not found' >
				{%endif%}
				<h2 style="font-size:1.5vw"> NUCLEUS</h2>
			</div> 
			
			<br>
			<br>

			<div class="main4" id="uploadheader4">

				{% if image_loc1 %}
				<img class="mb-4" src="{{image_loc1}}" alt="" width="350" height="350"> <!--HERE WE WILL UPLOAD THE OUTPUT PICTURE OF NUCLEUS-->
				{%endif%}
				<h2 style="font-size:1.5vw">GOLGI</h2>
			</div>
			<!-- End of Middle Column -->
			<br>
			
<!------------------------------Start of Right Column/ Result Colum-------------->

			<div class="main6" id="uploadheader" > <!--Here Number of Nucleus would be included from results-->
				<h3>
					<p style="font-size:1vw">Number of Nucleus - &nbsp;</p>
					{% if n_num %}
				   		<p style="font-size:1vw">{{n_num}}</p>
					{%endif%}
				</h3>
			  

		  	</div>
<!--  -->
		 	 <br>
	  <!--  -->
		  	<div class="main7" id="uploadheader" > <!--Here Number of Golgi would be included from results-->
				<h3>
					<p style="font-size:1vw">Number of Golgi - &nbsp;</p> 
					{% if g_num %}
						<p style="font-size:1vw">{{g_num}}</p>
			 		{%endif%}
				</h3>
		  	</div>
<!--  -->
		  	<br>
	  <!--  -->
		  	<div class="main8" id="uploadheader" > Here Toxicity would be included from results
				<h3 style="font-size:1vw">
					<p style="font-size:1vw">Ratio - &nbsp;</p>  
					{% if ratio %}
						<p style="font-size:1vw">{{ratio}}</p>
			 		{%endif%}
				</h3> 
		  	</div>
			
			<div class="main11" id="uploadheader" > <!-- Here Toxicity would be included from results-->
				<h3 style="font-size:1vw">
				  	<p style="font-size:1vw">Status - &nbsp;</p> 
				  	{% if result %}
						<p style="font-size:1vw">{{result}}</p>
			 		{%endif%}
				</h3>
				  
			</div>
<!------------------------------------End of Right Column/ Result Column---------------------------------->		
		</form>

	</div>

</body>
</html>
